#profissional{
    display: flex;
    background-color: #262626;

    @media only screen and (max-width: 770px) {
        display: block;
    }

    .title-mobile-profissional {
        background-color: white;
        color: #262626;
    }

    .title-projetos-profissional {
        background-color: white;
        color: #262626;
    }

    .content-profissional {
        width: 100%;
        padding-bottom: 40px;

        @media only screen and (max-width: 770px) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

.project-section {
    background-color: black;
}

.profissional-details {
    margin-top: 12px;
}

.description-details-profissional {
    font-size: 12px !important;
    font-weight: 300;
    line-height: 16px;
    padding-top: 5px;
}

.wrapper-profissional {
    width: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-experience {
    margin-bottom: 30px;
}

// PROJETOS

.grid-content {
    display: grid;
    gap: 12px 30px;
    grid-template-columns: 1fr 1fr;
    
    
    @media only screen and (max-width: 770px) {
        grid-template-columns: 1fr;
    }
}